{layout name="common/layout" /}

<div class="list">
    <ul>
        {cms:arclist id="item" model="3" row="5" flag="recommend" orderby="id" orderway="asc" addon="downloads"}
        <li>
            <div><img src="{$item.image}" alt=""></div>
            <p><a href="{$item.url}" title="{$item.title}" target="_blank">{$item.title}</a></p>
        </li>
        {/cms:arclist}
    </ul>
</div>



<div class="nav">
    <div>
        <img src="__CDN__/new/img/10yy.png" alt="">
        <ul>
            <li>QQ拼音</li>
            <li>搜狗五笔</li>
            <li>美图秀秀</li>
            <li>搜狗拼音</li>
            <li>搜狗拼音</li>
        </ul>
    </div>
    <div>
        <img src="__CDN__/new/img/10tj.png" alt="">
        <ul>
            <li>QQ拼音</li>
            <li>搜狗五笔</li>
            <li>美图秀秀</li>
            <li>搜狗拼音</li>
            <li>搜狗拼音</li>
        </ul>
    </div>
    <div>
        <img src="__CDN__/new/img/10zt.png" alt="">
        <ul>
            <li>QQ拼音</li>
            <li>搜狗五笔</li>
            <li>美图秀秀</li>
            <li>搜狗拼音</li>
            <li>搜狗拼音</li>
        </ul>
    </div>
</div>



<div class="zjgx">
    
    <div>
        <p>最近更新</p>
        <ul>
            <li style="background: #3964f0;color: #fff;">PC软件</li>
            <li>MAC软件</li>
            <li>安卓软件</li>
            <li>软件专题</li>
        </ul>
        
    </div>
    <van-swipe :autoplay="3000" indicator-color="white" class='vant-lbt'>
      <van-swipe-item><img src="__CDN__/new/img/jy1.png" ></van-swipe-item>
      <van-swipe-item><img src="__CDN__/new/img/jy2.jpg" ></van-swipe-item>
      <van-swipe-item><img src="__CDN__/new/img/jy3.jpg" ></van-swipe-item>
      
    </van-swipe>
</div>
<div class="zjgx">
    
    
    
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    
</div>


<div class="zjgx">
    
    <div>
        <p>最近更新</p>
        <ul>
            <li style="background: #3964f0;color: #fff;">PC软件</li>
            <li>MAC软件</li>
            <li>安卓软件</li>
            <li>软件专题</li>
        </ul>
        
    </div>
    
</div>
<div class="list">
    <ul>
        <li>
            <div><img src="__CDN__/new/img/360.png" alt=""></div>
            <p>360卫士</p>
        </li>
        <li>
            <div><img src="__CDN__/new/img/360.png" alt=""></div>
            <p>360卫士</p>
        </li>
        <li>
            <div><img src="__CDN__/new/img/360.png" alt=""></div>
            <p>360卫士</p>
        </li>
        <li>
            <div><img src="__CDN__/new/img/360.png" alt=""></div>
            <p>360卫士</p>
        </li>
        
        
        
        
    </ul>
</div>
<div class="zjgx">
    
    
    
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    
</div>
<div class="zjgx">
    
    <div>
        <p>最近更新</p>
        <ul>
            <li style="background: #3964f0;color: #fff;">PC软件</li>
            <li>MAC软件</li>
            <li>安卓软件</li>
            <li>软件专题</li>
        </ul>
        
    </div>
    
</div>
<div class="list">
    <ul>
        <li>
            <div><img src="__CDN__/new/img/360.png" alt=""></div>
            <p>360卫士</p>
        </li>
        <li>
            <div><img src="__CDN__/new/img/360.png" alt=""></div>
            <p>360卫士</p>
        </li>
        <li>
            <div><img src="__CDN__/new/img/360.png" alt=""></div>
            <p>360卫士</p>
        </li>
        <li>
            <div><img src="__CDN__/new/img/360.png" alt=""></div>
            <p>360卫士</p>
        </li>
        
        
        
        
    </ul>
</div>
<div class="zjgx">
    
    
    
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    <div class="zjgx_content">
        <div class="zjgx_content_title">
            <div>【行业软件】<span style="color: #1CD09B;" class="icon iconfont icon-diannao"></span>一周电商助手免费版一周免费版</div>
            <div>2019-12-12</div>
        </div>
    </div>
    
</div>



<div class="zjgx">
    
    <div>
        <p>游戏推荐</p>
        <ul>
            <li style="background: #3964f0;color: #fff;">PC软件</li>
            <li>MAC软件</li>
            <li>安卓软件</li>
            <li>软件专题</li>
        </ul>
        
    </div>
    
</div>
<div class="yxtj">
    
    
    <div>
        <ul>
            <li><img src="__CDN__/new/img/mhxy.png" alt=""></li>
            <li><img src="__CDN__/new/img/mhxy.png" alt=""></li>
            <li><img src="__CDN__/new/img/mhxy.png" alt=""></li>
            <li><img src="__CDN__/new/img/mhxy.png" alt=""></li>
            <li><img src="__CDN__/new/img/mhxy.png" alt=""></li>
            <li><img src="__CDN__/new/img/mhxy.png" alt=""></li>
        </ul>
    </div>
</div>


<div class="zjgx">
    
    <div>
        <p>游戏推荐</p>
        <ul>
            <li style="background: #3964f0;color: #fff;">PC软件</li>
            <li>MAC软件</li>
            <li>安卓软件</li>
            <li>软件专题</li>
        </ul>
        
    </div>
    
</div>
<div class="yxtj">
    
    
    <div>
        <ul>
            <li><img src="__CDN__/new/img/mhxy.png" alt=""></li>
            <li><img src="__CDN__/new/img/mhxy.png" alt=""></li>
            <li><img src="__CDN__/new/img/mhxy.png" alt=""></li>
            <li><img src="__CDN__/new/img/mhxy.png" alt=""></li>
            <li><img src="__CDN__/new/img/mhxy.png" alt=""></li>
            <li><img src="__CDN__/new/img/mhxy.png" alt=""></li>
        </ul>
    </div>
</div>


<div class="center_link">
   
    <h3>友情链接</h3>
    <p>{cms:block name="friendlink" /}</p>
   
</div>



<div class="wap_foot">
    <ul>
        <li>关于本站</li>
        <li>下载帮助</li>
        <li>下载声明</li>
        <li>软件发布</li>
        <li>合作厂商</li>
        <li>意见反馈</li>
    </ul>
    <br>
    <span>备案编号：湘ICP备16001275号-10</span>
</div>